body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-toggle {
    color: white;
}

.card-img-top {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.fries-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}

.accordion-body img {
    max-height: 400px;
    width: 600px;
    display: block;
    margin: 0 auto;
}

span {
    text-align: center;
    color: rgb(11, 11, 11);
}

.img-fluid {
    width: 400px;
    height: 400px;
}

col>.card img {
    text-align: center;
    flex-direction: column;
}

.row>col>a {
    width: 100px;
    padding: 20px;
}

.row .col h1,
h2 {
    text-align: center;
}

.img-fluid {
    width: 100px;
    height: 100px;
}

.row .col {
    overflow: hidden;
}

h2:hover {
    border-bottom: 2px solid rgba(#ffc400);
}